
.movieRow{
    margin-bottom: 30px;
}

.movieRow h2{
    
    margin: 0 0 0 30px;
    
}

.movieRow--listarea{
    overflow-x: hidden;
    padding-left: 30px;
}
.movieRow--list{
   transition: all ease 0.2s;  
}



.movieRow--item{
    position: relative;
    display: inline-block;
    margin: 15px 0;
    
    width: 250px;
        
    
    transform: scale(0.98);
    transition: all ease-in-out 0.1s;

    cursor: pointer;

    
}

.movieRow--item:hover{
    z-index: 998;
    transform: scale(1.21);
}

.movieRow--item img{
    width: 100%;
    border-radius: 5px;
}

.movieRow--left,
.movieRow--right{
    position: absolute;

    width: 40px;
    height: 170px;

    
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content:center;

    overflow-x: hidden;
    cursor: pointer;

    opacity: 0;
    transition: all ease 0.2s;
}
.movieRow--left{
    left: 0;
    background:linear-gradient(to right, rgb(32, 32, 32) 20%, rgba(0,0,0,0) 80%);
}

.movieRow--right{
    right: 0;
    background:linear-gradient(to left, rgb(32, 32, 32) 20%, rgba(0,0,0,0) 80%);
}

.movieRow:hover .movieRow--left,.movieRow:hover .movieRow--right{
    opacity: 1;
}


@media screen and (max-width: 760px){
    .movieRow--right,.movieRow--left{
        opacity: 1;
    }
}